@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  
  --color-red: #ca0035;  
  --color-dark-red: #900c3f;
    --color-purple: #581845;
    --color-orange: #ff5733;
    --color-black: #000000;
    --color-grey:#E2E2E2;
    --color-white: #ffffff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

* {margin: 0; 
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 1.1em;
    letter-spacing: 0.5px; */
    font-style: normal;
}

main { 
  display: flex;
  flex-direction: column;
  align-items: center;
      }

    a {
      text-decoration: none
    }
    
    ul {
        padding-left: 0
      }
      
    li {list-style-type:none}

p {text-align:center}

          .page-subtitle { 
            padding: 32px;
            font-size:30px;
            font-weight: 500px;
            text-align: center;
            color: var(--color-red)
              }

              .element-title { 
                padding: 12px;
                font-size:30px;
                text-align: center;
                color: var(--color-orange)
                  }
  
                  .fa-solid { 
                    color: var(--color-orange);
                    font-size: 48px
                        }

                      .remarked-text { 
                      font-weight: 500;
                      font-size: 22px;
                      text-align: center
                    }
                    .narrow-text { 
                    width: 50%;
                    text-align: center;
                    margin: auto;
                    }
    
    