:host { 
    width: 100%;
    height: 50vh;
    background-color: var(--color-purple);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-white)
}    
  
  .banner-title {
      font-size:38px;
      font-weight: 500;  
    }

    .banner-text {
          font-size:22px;
          font-weight: 400;
          padding: 22px  0 48px  0px       
        }