footer { 
    background-color: var(--color-black);
    color: var(--color-white);
  padding: 58px;
    display: flex;
    }

.contact-details { 
    display: flex;
    flex-direction: column;
}

.contact-details > h2,  .contact-details > p { 
    text-align:left
}

nav 
{ 
   display: flex;
   gap: 108px;
   margin: auto;
}

.footer-nav-title
{ 
    text-transform: uppercase;
    padding-bottom: 10px;
}

.footer-nav-element
{ 
    padding: 6px 0
}

a { 
    color: var(--color-white)
}

@media screen and (max-width: 374px) {
  nav { 
   display: none
}
  }