:host { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 32px;
    padding: 68px
      }

      .card-image { 
        object-fit: cover;
        height: 300px;
        width: 100%
     }
    
     .card-figure { 
      overflow: hidden
    }
    