:host { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 32px;
    padding: 32px;
    margin: 0 auto
      }

      .card-image { 
        object-fit: cover;
        height: 300px;
        width: 100%
     }
    
     .card-figure { 
      overflow: hidden
    }
    
    
  @media screen and (max-width: 374px) {
    :host { 
      display: block;
      width: 90%;
        }
        .card-figure { 
          padding: 14px 0
        }
     }
       