<section class="page-intro">
  <h1 class="page-title">Soluciones para diseño y construcción de tiendas</h1>
  <div style="width: 65%; margin: 0 auto">
    <h3 class="remarked-text">
      Desde la distribución de todo tipo de materiales para tiendas hasta el diseño comercial
      integral
    </h3>
    <p style="padding: 12px 0">
      En botong Sign ofrecemos soluciones a pequeña y gran escala para todo el proceso de diseño y
      construcción comercial. Atendemos las necesidades de distribuidores, montadores, negocios
      locales, cadenas de tiendas y todo tipo de clientes. Tanto si buscas un proveedor de
      iluminación, aluminio, mobiliario o cualquier otra necesidad, como si quieres desarrollar o
      ejecutar un proyecto integral.
    </p>
    <p>Descubre nuestras soluciones.</p>
  </div>
</section>

<section class="icons-section">
  <!-- que al clicar lleve a cada párrafo -->
  <app-icons [iconElements]="solutions"></app-icons>
</section>

<section class="paragraphs-section">
  <app-image-paragraph [paragraphElements]="solutions"></app-image-paragraph>
</section>
