header { 
display: flex;
align-items: center;
justify-content: space-around;
height: 12vh;
background-color: var(--color-white);
padding: 16px;
gap: 14px;
}

header > a { 
height:95%;
}

header > a > img { 
   height:100%;
   }

.burguer { 
   display:none;
   color: var(--color-white);
    background-color: var(--color-purple);
    padding: 6px 12px;
    border-radius: 3px;
   }

   @media screen and (max-width: 374px) {
      .burguer {
       display: flex;
      }
    }



