header { 
display: flex;
align-items: center;
justify-content: space-around;
height: 12vh;
background-color: var(--color-white);
padding: 16px;
gap: 14px;
}

header > a { 
height:95%;
}

header > a > img { 
   height:100%;
   }



