.history-section { 
  width: 80%;
 display: flex;
 gap: 52px;
}

.history-section, .why-section { 
  width: 80%;
}

.history-section > h2 { 
  text-align: left
}

.history-all-paragraphs { 
  display: flex;
  flex-direction: column;
  gap: 42px;
 }

 .history-small-paragraphs { 
  display: flex;
  gap: 42px;
 }

 .main-history-paragraph { 
  font-weight: 500;
  text-align: left
 }

 .secondary-history-paragraph { 
  text-align: left
 }

 .numbers-section { 
  min-width: 60vw;
  position: relative;
    }

    .numbers-section::after {
      content: '';
      display: block;
      width: 40%;
      height: 1px;
      background-color: var(--color-purple);
      position: absolute;
      bottom: 0;
      left: 30%;
    }

    .number-qty { 
      font-size:38px;
      font-weight: 500;
      color: var(--color-orange)
    }

.progress-section { 
        background-color: var(--color-orange);
          }

          .progress-section > .page-subtitle, .progress-section > .remarked-text { 
            color: var(--color-white);
              }

              .moment > .number-qty,  .progress-moments > .fa-solid { 
                color: var(--color-red);
                  }
  
.progress-moments { 
   display: flex;
   padding: 12px 52px;
   gap: 100px;
   align-items: center;
   justify-content: center
  }

  .moment { 
    width: 20%
   }