<main>
<app-banner 
[bannerTitle] = "'Más de 20 años al servicio de los clientes más exigentes'"
[bannerImage]= "'https://res.cloudinary.com/dxuseyfxa/image/upload/v1729174363/rotulacion-tiendas-botong-sign_pqozf2.webp'"
[bannerAlt]= "'fabrica-botongsign-diseño-comercial'" 
></app-banner>

<section class="history-section">
<h2 class="page-subtitle">Nuestra historia</h2>
<div class="history-all-paragraphs">
<p class="main-history-paragraph">Botong Sign se fundó en 2002 en Shenzhen (China) ofreciendo soluciones de señalización corporativa.
Tras 22 años de arduo trabajo y desarrollo, la empresa no ha dejado de crecer, con un valor de producción anual que supera los cientos de millones de yuanes.</p>
<div class="history-small-paragraphs">
<p class="secondary-history-paragraph">Creemos en la tecnología y las personas. Contamos con un parque industrial de más de 40.000 m, la maquinaria de producción más avanzada y un equipo altamente calificado formado por 300 profesionales.
Además, colaboramos con diseñadores de todo el mundo.</p>
<p class="secondary-history-paragraph">Actualmente distribuimos materiales para la construcción de tiendas y atendemos proyectos de señalización y diseño comercial a pequeña y gran escala. Desde la planificación, el diseño y la producción hasta la instalación.</p>
</div>
</div>
</section>

<section class="numbers-section">
    <app-numbers></app-numbers>
    </section>

    <section class="honors-section">
    <app-honors></app-honors>
</section>

    <section class="identity-section">
        <h2 class="page-subtitle">Identidad Botong Sign</h2>
    <app-card [cardElements]="identitySigns"></app-card>
</section>


   

    <section class="progress-section">
        <h2 class="page-subtitle">Nuestra evolución</h2>
        <div class="progress-moments">
        <div class="moment">
        <p class="number-qty">2002</p>
        <p>Fundación de Botong Sign, enfocada al servicio de joyerías y hoteles: diseño, producción e instalación de rótulos, lámparas e iluminación, sillas comerciales, etc.</p>
    </div >
    <i class="fa-solid fa-angles-right"></i>
    <div class="moment">
        <p class="number-qty">2014</p>
        <p>Expansión como proveedor de perfiles de aluminio, integrando diseño, I+D y producción. Paneles decorativos, planchas para fachadas y otros suministros.</p>
    </div>
    <i class="fa-solid fa-angles-right"></i>
    <div class="moment">
        <p class="number-qty">2021</p>
        <p>Desarrollo de nueva línea de negocio basada en sistemas inteligentes: pantallas publicitarias Digital Signage, servicios en la nube, cerraduras comerciales inteligentes de alta gama.</p>
    </div>  
</div>
    <h3 class="remarked-text">Próximos pasos</h3>
    <p class="narrow-text">Seguiremos sirviendo a nuestros clientes con entusiasmo y esmero, esforzándonos por convertirnos en un proveedor de referencia en el diseño y construcción de espacios comerciales.</p>
        </section>

        <section class="why-section">
            <h2 class="page-subtitle">¿Por qué Botong Sign?
            </h2>
        <app-icons [isHidden]="false" [iconElements]="howElements"></app-icons>
    </section>

</main>