<main>
<app-banner 
[bannerTitle] = "'Más de 20 años al servicio de los clientes más exigentes'"
[bannerImage]= "'https://res.cloudinary.com/dxuseyfxa/image/upload/v1729081000/botingsign-plant_l7s7vk.webp'"
[bannerAlt]= "'fabrica-botongsign-diseño-comercial'" 
></app-banner>

<section class="history">
<h2 class="page-subtitle">Nuestra historia</h2>
<p>Botong Sign se fundó en 2002 en Shenzhen (China) ofreciendo soluciones de señalización corporativa.
Tras 22 años de arduo trabajo y desarrollo, la empresa no ha dejado de crecer, con un valor de producción anual que supera los cientos de millones de yuanes.</p>
<p>Creemos en la tecnología y las personas. Contamos con un parque industrial de más de 40.000 m, la maquinaria de producción más avanzada y un equipo altamente calificado formado por 300 profesionales.
Además, colaboramos con diseñadores de todo el mundo.</p>
<p>Actualmente distribuimos materiales para la construcción de tiendas y atendemos proyectos de señalización y diseño comercial a pequeña y gran escala. Desde la planificación, el diseño y la producción hasta la instalación.</p>
</section>

<section class="numbers-section">
    <div  *ngFor="let number of numbers">
    <p class="number-qty">{{number.qty}}</p>
    <p class="number-description">{{number.description}}</p>
    </div>
    </section>


    <app-card [cardElements]="identitySigns"></app-card>

    <app-icons></app-icons>

    <section class="progress-section">
        <h2 class="page-subtitle">Nuestra evolución</h2>
        <div class="progress-moments">
        <div class="moment">
        <p class="number-qty">2002</p>
        <p>Fundación de Botong Sign, enfocada al servicio de joyerías y hoteles: diseño, producción e instalación de rótulos, lámparas e iluminación, sillas comerciales, etc.</p>
    </div >
    <i class="fa-solid fa-angles-right"></i>
    <div class="moment">
        <p class="number-qty">2014</p>
        <p>Expansión como proveedor de perfiles de aluminio, integrando diseño, I+D y producción. Paneles decorativos, planchas para fachadas y otros suministros.</p>
    </div>
    <i class="fa-solid fa-angles-right"></i>
    <div class="moment">
        <p class="number-qty">2021</p>
        <p>Desarrollo de nueva línea de negocio basada en sistemas inteligentes: pantallas publicitarias Digital Signage, servicios en la nube, cerraduras comerciales inteligentes de alta gama.</p>
    </div>  
</div>
    <h3 class="remarked-text">Próximos pasos</h3>
    <p class="narrow-text">Seguiremos sirviendo a nuestros clientes con entusiasmo y esmero, esforzándonos por convertirnos en un proveedor de referencia en el diseño y construcción de espacios comerciales.</p>
        </section>


</main>