.numbers-section, .values-section { 
    padding: 48px;
    width: 80%;
   display: flex;
   justify-content: space-evenly;
   gap: 42px;
   text-align: center;
      }

      .progress-section { 
        padding: 52px;
        margin-bottom: 42px
          }
    

      .number-qty { 
      font-size:38px;
      font-weight: 500;
      color: var(--color-orange)
    }
    .number-description { 
    color: var(--color-red);
    font-size: 32px;
  }

  .progress-moments { 
   display: flex;
   padding: 12px 52px;
   gap: 100px;
   align-items: center;
   justify-content: center
  }

  .moment { 
    width: 20%
   }