<section class="page-intro">
    <h1 class="page-title">Sectores destacados</h1>
    <div style="width: 65%; margin: 0 auto">
    <h3 class="remarked-text">Productos específicos para restauración, joyería y automoción</h3>
    <p style="padding: 12px 0">Aunque en Botong Sign atendemos a todos los sectores, ofrecmeos una serie de soluciones particularmente idóneas para restaurantes, joyerías y concesionarios.</p>
    <p>Descubre las últimas novedades.</p>
</div>
    </section>
     
     <section class="icons-section">
        <!-- que al clicar lleve a cada párrafo -->
    <app-icons [iconElements]="sectors"></app-icons>
    </section>
    
    <section class="paragraphs-section">
    <app-image-paragraph [paragraphElements]="sectors"></app-image-paragraph>
    </section>
