.nav-links {
  display: flex;
  gap: 60px;
}

a {
  color: var(--color-purple);
  font-size: 21px;
  text-transform: uppercase;
}

a:hover {
  color: var(--color-red);
}

li:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 374px) {
  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: absolute;
    top: 75px;
    right: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    background-color: var(--color-white);
  }
}
