ul {
  display: flex;
  gap: 60px;
}

a {
  color: var(--color-purple);   
  font-size: 21px;
  text-transform: uppercase;
}

a:hover {
  color: var(--color-red);
}

li:hover {
  transform: scale(1.05);
}


@media screen and (max-width: 374px) {
  nav { 
                display: none;
      }
    } 
