<figure class="icon-figure" *ngFor="let iconElement of iconElements; let i = index">
  <ng-container *ngIf="anchorElement; else noAnchor">
  <a *ngIf="anchorElement" class="icon-link" [href]="currentRoute+'#paragraph-title-'+i">  
  <i [ngClass]="iconElement.icon"></i>
  <h2 class="icon-title">{{ iconElement.name }}</h2>
</a>
</ng-container>
<ng-template #noAnchor>
  <i [ngClass]="iconElement.icon"></i>
  <h2 class="icon-title">{{ iconElement.name }}</h2>
</ng-template>
  <p *ngIf="!anchorElement" class="icon-description">{{ iconElement.description }}</p>
</figure>

