<main>
<app-home-carousel style="width: 100%;"></app-home-carousel>

<h1 class="home-title">Soluciones integrales de diseño comercial</h1>
<p>Desde el diseño de tu identidad visual corporativa hasta su puesta en escena en el punto de venta, 
    desarrollamos e implantamos soluciones 360º para espacios comerciales.    
</p>
<p>Boutiques, Showrooms o cualquier tipo de tienda que imagines.    
</p>

<app-how-home-icons [section]="'how'"></app-how-home-icons>


<figure class="home-img-container"> 
    <img class="home-img" src="/Imagen2.jpg" alt="construccion-de-tiendas">
</figure>

<h2 class="home-title">Expertos en todo el proceso de diseño de tiendas</h2>
<p>Confía en especialistas en todos los puntos del proceso creativo y ejecutivo.</p> 
<p>Diseñamos, fabricamos e instalamos siempre con las últimas tendencias. </p>
<p>Funcionalidad, creatividad y tecnología. </p>

<app-how-home-icons [section]="'solutions'"></app-how-home-icons>

</main>