      .activity-presentation { 
        display: flex;
        width: 80%;
        gap: 42px;
        padding: 48px
          }

  .solutions-section { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        gap: 32px;
        padding: 48px
          }

          .numbers-section { 
            padding: 48px;
            width: 80%;
           display: flex;
           justify-content: space-evenly;
           gap: 42px;
           text-align: center;
              }

              .number-qty { 
              font-size:38px;
              font-weight: 500;
              color: var(--color-orange)
            }

.number-description { 
            color: var(--color-red);
            font-size: 32px;
          }



        .home-text { 
         text-align: center
            }

   .solution-image-home { 
    object-fit: cover;
    height: 300px;
    width: 100%
 }

 .solution-figure { 
  overflow: hidden
}


     


   