.activity-presentation {
  display: flex;
  width: 80%;
  gap: 42px;
  position: relative;
}

.activity-presentation::after {
  content: '';
  display: block;
  width: 40%;
  height: 1px;
  background-color: var(--color-purple);
  position: absolute;
  bottom: 0;
  left: 30%;
}

.numbers-section {
  min-width: 60vw;
}


@media screen and (max-width: 374px) {
  .activity-presentation,
  .numbers-section,
  .solutions-section,
  .customers-section {
    padding: 32px 0;
  }

  .activity-presentation,
  .numbers-section {
    flex-direction: column;
    width: 90%;
  }
}
