@keyframes moveImages {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

ul {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 32px 0;
  animation: moveImages 40s linear infinite;
  
}

.customer-logo-container {
  flex-shrink: 0;
}

.customer-logo {
  height: 70px;
}

@media screen and (max-width: 374px) {
  ul {
    gap: 32px;
  }
  .customer-logo {
    height: 42px;
  }
}
